<div class="container p-2">
  <div class="row">
    {{#each card}}

    <div class="col-md-3 m-5 mx-auto" style="padding-top: 1em;">
      <div class="card text-center">

        <div class=" card-body card_hijo" >

          

              <ul class="list-group ">
                
                <p><img src="../../img/Ascension/{{ascension}}.jpg" alt="" class="img-elder w-25" ></p> <!--Ascension-->
                <p><img src="../../img/Star/{{star}}.png" alt="" class="img-elder w-100" ></p> <!--Star-->
               
              </ul>
            

          <p><img src="../../img/heroes/{{faction}}/{{heroname}}.png" alt="" class="img-elder " height="200px"></p> <!--Heroe-->
          <h5>{{heroname}}</h5> <!--Heroe Name-->

       

          
          <div class="card-body btn-group card_hijo  m-0 p-0" role="group" aria-label="Basic example" style="width: 100%;"> 

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group ">
                <li class="list-group-item"><img src="../../img/Roll/{{roll}}.png" alt="" class="img-elder w-100" ></li><!--Roll-->
                <img src="../../img/Gear/{{attribute}}/{{weapon}}.jpg" alt="" class="img-elder w-100" > <!--Weapon-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group ">
                <li class="list-group-item"><img src="../../img/heroes/{{faction}}/{{faction}}.png" alt="" class="img-elder w-100" ></li> <!--Faction-->
                <img src="../../img/Gear/{{attribute}}/{{head}}.jpg" alt="" class="img-elder w-100" > <!--Head-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <li class="list-group-item"><img src="../../img/Attribute/{{attribute}}.png" alt="" class="img-elder w-100" ></li><!--Attribute-->
                <img src="../../img/Gear/{{attribute}}/{{body}}.jpg" alt="" class="img-elder w-100" > <!--Body-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group ">
                <li class="list-group-item"><img src="../../img/Class/{{clase}}.png" alt="" class="img-elder w-100" ></li><!--Class-->
                <img src="../../img/Gear/{{attribute}}/{{boots}}.jpg" alt="" class="img-elder w-100" > <!--Boots-->
              </ul>
            </div>

            

          </div>

          <div class="card-body btn-group card_hijo  m-0 p-0  w-100" role="group" aria-label="Basic example" style="width: 100%;"> 

            <div class="card-body btn-group m-0 p-0 card-elder " role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Signature Items/{{heroname}}.png" alt="" class="img-elder w-100" > <!--Signature Items-->
                <p>SI - {{si}}</p> <!--Signature Items-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Furniture Items/{{heroname}}.png" alt="" class="img-elder w-100" > <!--Furniture Items-->
                <p>FI - {{fi}}</p> <!--Furniture Items-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Engravings/{{clase}}.png" alt="" class="img-elder w-100" > <!--Engravings-->
                <p>{{engravings}}</p> <!--Engravings-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Artefactos/{{artefactovalue}}.jpg" alt="" class="img-elder w-100" > <!--Artefacto-->
                <p>{{artefacto}}</p> <!--Artefacto-->
              </ul>
            </div>

            </div>

            <form action="/heroes/{{faction}}/{{id}}" method="POST" class=" text-center">
            <button class="btn btn-success w-100 mt-2 ">Edit</button>
          </form>
        </div>
      </div>
    </div>


    
    <!--div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay links guardados</p>
          <a href="/links/add">Crea uno!</a>
        </div>
      </div-->
    {{/each}}
  </div>
</div>