
<div class="container p-2">
  <div class="row">
    <div class="col-md-4 m-5 mx-auto" style="padding-top: 1em;">
        <div class="card text-center">
            <div class="card card-body card_hijo" >
                    <h4>SEARCH USER</h4>

                    <div class=" row" role="group" aria-label="Basic checkbox toggle button group">
                      <div class="col-4">
                      <form action="/links/search1" method="POST" >
                        <input type="checkbox" class="btn-check" id="btncheck1" name="aegis1" autocomplete="off">
                        <button class="btn btn-outline-dark w-100" for="btncheck1">Aegis 1</button>
                      </form>
                      </div>

                      <div class="col-4">
                      <form action="/links/search2" method="POST" >
                        <input type="checkbox" class="btn-check" id="btncheck2" name="aegis2" autocomplete="off">
                        <button class="btn btn-outline-dark w-100" for="btncheck2">Aegis 2</button>
                      </form>
                      </div>

                      <div class="col-4">
                      <form action="/links/search3" method="POST" >
                        <input type="checkbox" class="btn-check" id="btncheck3" name="aegis3" autocomplete="off">
                        <button class="btn btn-outline-dark w-100" for="btncheck3">Aegis 3</button>                      
                      </form>
                      </div>

                    </div>

                    <form action="/links/search" method="POST" class="row g-3">
                        <div class="col-md-12">
                            <div class="card-body btn-group m-0 p-0 card-elder w-100" role="group" aria-label="Basic example" >
                                <ul class="list-group list-group w-100">
                                  <p></p>
                                    <h6>User Name</h6>
                                    <select name="usuario">
                                        {{#each usuarios}}
                                            <option >{{username}} - {{idjugador}}</option>
                                        {{/each}}
                                    </select>
                                </ul>
                                </div>
                            
                        </div>

                        <div class="form-group p-2">
                            <h1><button class="btn btn-primary w-100">SEARCH</button></h1>
                        </div>
                        
                    </div>
                    </form>
            </div>
        </div>
    </div>
  </div>

<table class="table">

    <thead class="table-dark w-100">
      <th class="table-dark w-100 text-center" style="padding-top: 1em;">{{usuario}}</th>
    </thead>
</table>
<table class="table">
    <thead class="table-dark w-100 text-center" >
        <th class="table-dark text-center" style="padding-top: 1em;">
          <form action="/links/Lightbearer/{{usuario}}" method="POST" >
              <input type="checkbox" class="btn-check" id="Lightbearer" name="Lightbearer" autocomplete="off">
              <button class="btn btn-outline-light w-100" for="Lightbearer">Lightbearer</button>
          </form>
        </th>
          <th class="table-dark text-center" style="padding-top: 1em;">
            <form action="/links/Mauler/{{usuario}}" method="POST" >
              <input type="checkbox" class="btn-check" id="Mauler" name="Mauler" autocomplete="off">
              <button class="btn btn-outline-light w-100" for="Mauler">Mauler</button>
            </form>
          </th>
          <th class="table-dark text-center" style="padding-top: 1em;">
            <form action="/links/Wilder/{{usuario}}" method="POST" >
              <input type="checkbox" class="btn-check" id="Wilder" name="Wilder" autocomplete="off">
              <button class="btn btn-outline-light w-100" for="Wilder">Wilder</button>
            </form>
          </th>
          <th class="table-dark text-center" style="padding-top: 1em;">
            <form action="/links/Graveborn/{{usuario}}" method="POST" >
              <input type="checkbox" class="btn-check" id="Graveborn" name="Graveborn" autocomplete="off">
              <button class="btn btn-outline-light w-100" for="Graveborn">Graveborn</button>
            </form>
          </th>
          <th class="table-dark text-center" style="padding-top: 1em;">
            <form action="/links/Celestial/{{usuario}}" method="POST" >
              <input type="checkbox" class="btn-check" id="Celestial" name="Celestial" autocomplete="off">
              <button class="btn btn-outline-light w-100" for="Celestial">Celestial</button>
            </form>
          </th>
          <th class="table-dark text-center" style="padding-top: 1em;">
            <form action="/links/Hypogean/{{usuario}}" method="POST" >
              <input type="checkbox" class="btn-check" id="Hypogean" name="Hypogean" autocomplete="off">
              <button class="btn btn-outline-light w-100" for="Hypogean">Hypogean</button>
            </form>
          </th>
          <th class="table-dark text-center" style="padding-top: 1em;">
            <form action="/links/Dimensional/{{usuario}}" method="POST" >
              <input type="checkbox" class="btn-check" id="Dimensional" name="Dimensional" autocomplete="off">
              <button class="btn btn-outline-light w-100" for="Dimensional">Dimensional</button>
            </form>
          </th>
    </thead>

</table>

  <div class="container p-2">
  <div class="row">
    {{#each card}}

    <div class="col-md-3 m-5 mx-auto" style="padding-top: 1em;">
      <div class="card text-center">

        <div class=" card-body card_hijo" >

          

              <ul class="list-group ">
                
                <p><img src="../../img/Ascension/{{ascension}}.jpg" alt="" class="img-elder w-25" ></p> <!--Ascension-->
                <p><img src="../../img/Star/{{star}}.png" alt="" class="img-elder w-100" ></p> <!--Star-->
               
              </ul>
            

          <p><img src="../../img/heroes/{{faction}}/{{heroname}}.png" alt="" class="img-elder " height="200px"></p> <!--Heroe-->
          <h5>{{heroname}}</h5> <!--Heroe Name-->

       

          
          <div class="card-body btn-group card_hijo  m-0 p-0" role="group" aria-label="Basic example" style="width: 100%;"> 

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group ">
                <li class="list-group-item"><img src="../../img/Roll/{{roll}}.png" alt="" class="img-elder w-100" ></li><!--Roll-->
                <img src="../../img/Gear/{{attribute}}/{{weapon}}.jpg" alt="" class="img-elder w-100" > <!--Weapon-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group ">
                <li class="list-group-item"><img src="../../img/heroes/{{faction}}/{{faction}}.png" alt="" class="img-elder w-100" ></li> <!--Faction-->
                <img src="../../img/Gear/{{attribute}}/{{head}}.jpg" alt="" class="img-elder w-100" > <!--Head-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <li class="list-group-item"><img src="../../img/Attribute/{{attribute}}.png" alt="" class="img-elder w-100" ></li><!--Attribute-->
                <img src="../../img/Gear/{{attribute}}/{{body}}.jpg" alt="" class="img-elder w-100" > <!--Body-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder w-25" role="group" aria-label="Basic example" >
              <ul class="list-group ">
                <li class="list-group-item"><img src="../../img/Class/{{clase}}.png" alt="" class="img-elder w-100" ></li><!--Class-->
                <img src="../../img/Gear/{{attribute}}/{{boots}}.jpg" alt="" class="img-elder w-100" > <!--Boots-->
              </ul>
            </div>

            

          </div>

          <div class="card-body btn-group card_hijo  m-0 p-0  w-100" role="group" aria-label="Basic example" style="width: 100%;"> 

            <div class="card-body btn-group m-0 p-0 card-elder " role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Signature Items/{{heroname}}.png" alt="" class="img-elder w-100" > <!--Signature Items-->
                <p>SI - {{si}}</p> <!--Signature Items-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Furniture Items/{{heroname}}.png" alt="" class="img-elder w-100" > <!--Furniture Items-->
                <p>FI - {{fi}}</p> <!--Furniture Items-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Engravings/{{clase}}.png" alt="" class="img-elder w-100" > <!--Engravings-->
                <p>{{engravings}}</p> <!--Engravings-->
              </ul>
            </div>

            <div class="card-body btn-group m-0 p-0 card-elder" role="group" aria-label="Basic example" >
              <ul class="list-group">
                <img src="../../img/Artefactos/{{artefactovalue}}.jpg" alt="" class="img-elder w-100" > <!--Artefacto-->
                <p>{{artefacto}}</p> <!--Artefacto-->
              </ul>
            </div>

            </div>
        </div>
      </div>
    </div>


    
    <!--div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay links guardados</p>
          <a href="/links/add">Crea uno!</a>
        </div>
      </div-->
    {{/each}}
  </div>
</div>

</div>














